.hamburger-menu-wrapper{
    margin-top: 12px
}
.hamburger-menu-wrapper:hover{
    cursor: pointer
}
.hamburger-menu:hover{
    cursor: pointer;
}
.hamburger-menu
{
    width:30px;
    height:5px;
    background-color: #ffffff;
    border-radius:5px;
    position:relative;
}

.hamburger-menu:after, .hamburger-menu:before
{
    content: '';
    width: 100%;
    height:5px;
    background-color: #ffffff;
    position:absolute;
    border-radius:5px;
}

.hamburger-menu:after
{
    top:10px;
}

.hamburger-menu:before
{
    top:20px;
}
.aside.right{
    width: 40em
}
.chosenType{visibility: hidden;position:fixed;margin: 0 auto;top: 51px;width: 300px }