<div class="aside" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title" ng-bind-html="title"></h4>
            </div>
            <div class="aside-body">
                <form class="well">
                    <h3>Filter Type</h3>
                    <label class="radio-inline">
                        <input type="radio" ng-model="selectedTypes.reportType" name="inlineRadioOptions" id="inlineRadio1" value="type" checked>  Type
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="selectedTypes.reportType" name="inlineRadioOptions" id="inlineRadio2" value="hospital"> Hospital
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="selectedTypes.reportType" name="inlineRadioOptions" id="inlineRadio3" value="consultant"> Consultant
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="selectedTypes.reportType" name="inlineRadioOptions" id="inlineRadio4" value="none"> None
                    </label>
                    <br />
                    <br />
                    <div ng-class="{chosenType: selectedTypes.reportType!='type'}" class="form-group">
                        <label>Type</label>
                        <ui-select multiple id="byType" ng-model="selectedTypes.types" theme="bootstrap"
                                   ng-disabled="disabled" close-on-select="false"
                                   title="Choose types">
                            <ui-select-match placeholder="Select types...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="data in keywordsOrderTypes | filter:$select.search">
                                {{data}}
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div ng-class="{chosenType: selectedTypes.reportType!='hospital'}" class="form-group">
                        <label>Hospitals</label>
                        <ui-select multiple id="ByHospital" ng-model="selectedTypes.hospitals" theme="bootstrap"
                                   ng-disabled="disabled" close-on-select="false"
                                   title="Choose hospital">
                            <ui-select-match placeholder="Select hospitals...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="data in keywordsHospitals | filter:$select.search">
                                {{data}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div ng-class="{chosenType: selectedTypes.reportType!='consultant'}" class="form-group">
                        <label>Consultants</label>
                        <ui-select multiple id="ByConsultant" ng-model="selectedTypes.orthotists" theme="bootstrap"
                                   ng-disabled="disabled" close-on-select="false"
                                   title="Choose consualtant">
                            <ui-select-match placeholder="Select consultants...">{{$item}}</ui-select-match>
                            <ui-select-choices repeat="data in keywordsOrthotists | filter:$select.search">
                                {{data}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="form-inline">

                        <div class="form-group">
                            <label>Start Date</label><br />
                            <ui-select ng-model="selectedTypes.startDate" theme="selectize" ng-disabled="disabled" style="width: 200px;">
                                <ui-select-match placeholder="Select start date...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="startDate in keywordsReportMonths | filter: $select.search">
                                    <span ng-bind-html="startDate | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group">
                            <label>End Date</label><br />
                            <ui-select ng-model="selectedTypes.endDate" theme="selectize" ng-disabled="disabled" style="width: 200px;">
                                <ui-select-match placeholder="Select end date...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="endDate in keywordsReportMonths | filter: $select.search">
                                    <span ng-bind-html="endDate | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>


                </form>
            </div>
            <div class="aside-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                <button type="button" class="btn btn-warning" ng-click="clearReportFilter()">Clear Filter</button>
                <button type="button" ng-click="applyReportFilter()" class="btn btn-primary">Apply Filter</button>
            </div>
        </div>
    </div>
</div>


