<!DOCTYPE html >
<html >
<head lang="en">
    <meta charset="UTF-8">
    <title>Trulife - Reporting Tool</title>
    <link href="../common/css/vendor/bootstrap.min.css" rel="stylesheet" />
    <link href="../common/css/vendor/wijmo.min.css" rel="stylesheet" />
    <link href="../common/css/vendor/bootstrap-additions.min.css" rel="stylesheet" />
    <link href="../common/css/vendor/select.css" rel="stylesheet" />
    <link href="../common/css/dashboard.css" rel="stylesheet" />
    <link href="../common/css/query.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//code.angularjs.org/1.3.8/angular-animate.min.js" data-semver="1.3.8"></script>
    <script src="//code.angularjs.org/1.3.8/angular-sanitize.min.js" data-semver="1.3.8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>
    <script src="../vendor/wijmo.js" type="text/javascript"></script>
    <script src="../vendor/wijmo.chart.min.js" type="text/javascript"></script>
    <script src="../vendor/wijmo.gauge.min.js" type="text/javascript"></script>
    <script src="../vendor/wijmo.angular.min.js" type="text/javascript"></script>
    <style>
        .gaugeDash{overflow: hidden; border: 1px solid #f5f5f5;margin: 2px}
        .gaugeDash:hover{background-color: #f5f5f5; border: 1px solid gainsboro}
        .wrapper{padding: 10px}
        .wj-gauge .wj-pointer {fill: #00b0f0}
        .navbar-inverse{background-color:#009999 }
        .navbar-inverse .navbar-nav>li>a {color: #ffffff}
        .navbar-inverse .navbar-nav>li>a:hover {color: #9d9d9d}
        .aside .aside-dialog .aside-header {background: #009999}
        .aside-backdrop{opacity: 0.7}
    </style>
</head>
<body ng-app="queryApp" ng-controller="HomeController">

    <tf-nav-tabs>

    </tf-nav-tabs>

    <div class="wrapper">
        <div class="container-fluid">
            <h1>Reports Dashboard</h1>
            <style type="text/css">
                div.inline { float:left; width: 49%; border: 1px solid #e1dfdf; padding: 5px; margin: 3px}
                div.inlineNarrow{ float:left; width: 18%}
                .clearBoth { clear:both; }
            </style>
          <tl-spark-lines list-by-order-type="listByOrderType"></tl-spark-lines>
            <div class="inline pull-right">

                <h3>Percentage of Orders Completed Ontime</h3>
                <div class="inlineNarrow gaugeDash" ng-repeat="items in listByOrderType track by $index">
                    <wj-radial-gauge
                            value="items.percentageOntime"
                            min="0"
                            max="100"
                            start-angle="-30"
                            sweep-angle="240"
                            show-ranges="true">
                        <wj-range wj-property="pointer" thickness="0.75"></wj-range>
                        <wj-range min="{{kpi}}" max="100" color="rgba(100,255,100,.2)"></wj-range>
                        <wj-range min="{{items.percentageOntime}}" max="100" color="rgba(255,255,100,.2)"></wj-range>
                    </wj-radial-gauge>
                    <h6 style="text-align: center; white-space: nowrap">{{items.orderType}}</h6>

            </div>
         </div>
         <br class="clearBoth" /><!-- you may or may not need this -->
         <div class="row" style="border:1px solid #e1dfdf; margin: 3px">
                <div class="col-lg-12">


                    <h2>All Orders By Type</h2>
                    <wj-flex-chart chart-type="line" style="height:500px" items-source="listAll" binding-x="orderType" selection-mode="Point">
                        <wj-flex-chart-axis wj-property="axisX" label-angle="90"></wj-flex-chart-axis>
                        <wj-flex-chart-series ng-attr-style="{fill:'#009999', stroke:'#009999', 'stroke-width': '1'}" binding="onttime" name="On Time"></wj-flex-chart-series>
                        <wj-flex-chart-series binding="late" ng-attr-style="{fill:'#c00000', stroke:'#c00000', 'stroke-width': '1'}"  name="Late"></wj-flex-chart-series>
                        <wj-flex-chart-legend position="Right"></wj-flex-chart-legend>
                    </wj-flex-chart>
                        </div>

    </div></div>






            <div class="inlineNarrow gaugeDash" ng-repeat="results in resultData.topData track by $index">
            <wj-radial-gauge
            value="results.percentageOntime"
            min="0"
            max="100"
            start-angle="-30"
            sweep-angle="240"
            show-ranges="true">
            <wj-range wj-property="pointer" thickness="0.75"></wj-range>
            <wj-range min="75" max="100" color="rgba(100,255,100,.2)"></wj-range>
            <wj-range min="{{results.percentageOntime}}" max="100" color="rgba(255,255,100,.2)"></wj-range>
            </wj-radial-gauge>
            <h6 style="text-align: center; white-space: nowrap">{{results.item}}</h6>

            </div>
            </div>


            </div>





<script src="../query/app.js"></script>
<script src="../query/service/data.js"></script>
<script src="../query/service/keywords.js"></script>
<script src="../query/service/domino.js"></script>
<script src="../query/factory/dataFilter.js"></script>
<script src="../query/directives/tlSparkLines.js"></script>
<script src="../vendor/select.js"></script>
<script src="../common/directives/tfNavTabs.js"></script>

</body>
</html>