<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><img src="../common/images/trulife.jpg" style="margin-left:-20px; padding-right: 7px"/></li>
                <li ng-click="showMenu()"><div class="hamburger-menu-wrapper"><div class="hamburger-menu"></div></div></li>
            </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-click="clearResult();showFilterForm()"><a href="#">Filter Form <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></a></li>
            </ul>

        </div>
    </div>
</nav>